{
	"hostname":"giss.tv",
	"port":"8000",
	"username":"source",
	"password":"pass",
	"protocol":"http",
	"mountpoint":"/thefirstkube.mp3",
	"name":"The First Kube",
	"genre":"Experimental Industrial Noise and more...",
	"description":"An Experimenatl Industrial Noise Radio",
	"url":"http://www.thefirstkube.net",
	"public":"1",
	"bitrate":"128",
	"samplerate":"44100",
	"channels":"2",
	"playlist":"playlist.pls",
	"random":true,
	"repeat":true
}